.spacer{
	margin-top: 5em;
}



/* Mixins */
@mixin createBox($width, $height, $bRadius, $bgColor, $margin){
  width: $width;
  height: $height;
  border-radius: $bRadius;
  background-color: $bgColor;
  margin: $margin;
  transition: .3s all ease-in-out;
}


.click:hover{
	text-decoration: underline;
}