{{> /include/header }}
{{> /include/header_bar }}

<div class="big-spacer"></div>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black">
      <div class="content">
        Paramétrer votre cours
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="Nom du cours">
          </div>
        </div>
        
        <div class="mini-spacer"></div>
        <hr class="ui dividing header"></hr>
        
        <div class="two fields">
	        <div class="field">
	            <label>Type de cours</label>
	      			<select class="ui fluid dropdown">
	        			<option value="">Collectif</option>
	    				<option value="AL">Individuel</option>
	     			</select>
	        </div>
	        <div class="field">
	        	<label>Instruments</label>
	      			<select class="ui fluid dropdown">
	        			<option value="">Piano</option>
	    				<option value="AL">Guitare</option>
	    				<option value="AL">Trompette</option>
	    				<option value="AL">Basse</option>
	    				<option value="AL">Test</option>
	    				<option value="AL">Test</option>
	    				<option value="AL">Test</option>
	    				<option value="AL">test</option>
	     			</select>
	        </div>
	    </div>
        
        <div class="mini-spacer"></div>
        <a class="ui large red button">Annuler</a>
        <a class="ui large red submit button">Ajouter un nouveau cours</a>
      
      </div>

      <div class="ui error message"></div>

    </form>

  </div>
</div>

{{> /include/footer }}