{{> /include/header }}
{{> /include/header_bar }}

<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="img/logo.png"></div>Ajouter un nouveau cours</h1>
	    </div>
</div>

<div class="big-spacer"></div>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black">
      <div class="content">
        
      </div>
    </h2>
    <form class="ui large form" method="post" action="/newCours">
      <div class="ui stacked segment">
        
        <div class="field">
          <div class="ui left icon input">
            <i class="music icon" ></i>
            <input type="text" name="libelle" placeholder="Nom du cours">
          </div>
        </div>
        <div class="field">
         <div class="ui left icon input">
         <i class="user friends icon" style="visibility: visible;"></i>
           <input type="number" name="nbPlaces" placeholder="Nombre de places disponible">
          </div>
        </div>
        <div class="mini-spacer"></div>
        <hr class="ui dividing header"></hr>
  
        
        <div class="two fields">
	        <div class="field">
	            <label>Type de cours</label>
	      			<select name="typeCour" class="ui fluid dropdown">
	      				<option value="">--Choisir un type de cours--</option>
		      			{{#type_cours}}
	      				<option value="{{id}}">{{libelleType}}</option>
	    				{{/type_cours}}
	     			</select>
	        </div>
	        <div class="field">
	        	<label>Instruments</label>
	      			<select name="instruments" class="ui fluid dropdown">
	      				<option value="">--Choisir un instrument--</option>
	      				{{#instruments}}
	        			<option value="{{id}}">{{intitule}}</option>
	    				{{/instruments}}
	     			</select>
	        </div>
	    </div>
	    
	    <div class="two fields">
	        <div class="field">
	            <label>Âge minimum</label>
	      			<input type="number" name="ageMini" placeholder="0">
	        </div>
	        <div class="field">
	        	<label>Âge maximum</label>
	      			<input type="number" name="ageMaxi" placeholder="0">
	        </div>
	    </div>
	    
	    <div class="two fields">
	        <div class="field">
	            <label>Jour</label>
	      			<select name="jour" class="ui fluid dropdown">
	      				<option value="">--Choisir un jour de la semaine--</option>
	      				<option value="Lundi">Lundi</option>
	    				<option value="Mardi">Mardi</option>
	    				<option value="Mercredi">Mercredi</option>
	    				<option value="Jeudi">Jeudi</option>
	    				<option value="Vendredi">Vendredi</option>
	    				<option value="Samedi">Samedi</option>
	    				<option value="Dimanche">Dimanche</option>
	     			</select>
	        </div>
	        <div class="field">
	        	<label>Heure</label>
	      			<select name="heure" class="ui fluid dropdown">
	      				<option value="">--Choisir une heure--</option>
	        			<option value=8>8 : 00</option>
	    				<option value=9>9 : 00</option>
	    				<option value=10>10 : 00</option>
	    				<option value=11>11 :00 </option>
	    				<option value=12>12 : 00</option>
	    				<option value=13>13: 00</option>
	    				<option value=14>14 : 00</option>
	    				<option value=15>15 : 00</option>
	    				<option value=16>16 : 00</option>
	    				<option value=17>17 : 00</option>
	    				<option value=18>18 : 00</option>
	    				<option value=19>19 : 00</option>
	     			</select>
	        </div>
	    </div>
	     
        
        <div class="little_spacer"></div>
        <a href="/listCours" class="ui large red button">Annuler</a>
        <button  type="submit" class="ui large red submit button" >Ajouter un nouveau cours</button>
      
      </div>

      <div class="ui error message"></div>

    </form>

  </div>
</div>

{{> /include/footer }}