{{> /include/header }}
{{> /include/header_bar }}

<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="img/logo.png"></div>Cours et instruments enseignés</h1>
	    </div>
</div>

<div class="spacer"></div>
  		
{{#cours}}

<div class="ui horizontal cards">
  <div class="card">
    <div class="image">
      <img src="/img/">
    </div>
    <div class="content">
      <div class="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{libelle}}</font></font></div>
      <div class="meta">
        {{#type_cours}}<p value="{{id}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{libelleType}}</font></font></p>{{/type_cours}}
      </div>
      <div class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Assister au <span style="font-weight: bold;">{{libelle}}</span>, de <span style="font-weight: bold;">{{ageMini}}</span> ans à <span style="font-weight: bold;">{{ageMaxi}}</span> ans, pour apprendre <span style="font-weight: bold;">"{instrument}"
      </font></font></div>
      <div class="ui button">
      <i class="add icon"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      Participer au cours
    </font></font></div>
    </div>
  </div>
</div> 

{{/cours}}

<p>


</p>






{{> /include/footer }}