{{> /include/header }}
{{> /include/header_bar }}

<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="img/logo.png"></div>Cours et instruments enseignés</h1>
	    </div>
</div>

<div class="mini_spacer">
<a href="/newCours" class="ui fluid large red submit button" >Ajouter un nouveau cours</a>
</div>

<div class="mini_spacer"></div>
  		
{{#cours}}

<div class="ui horizontal cards">
  <div class="card">
    <div class="image">
      <img src="/img/">
    </div>
    <div class="content">
      <div class="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{libelle}}</font></font></div>

      <div class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Assister au <span style="font-weight: bold;">{{libelle}}</span>, de <span style="font-weight: bold;">{{ageMini}}</span> ans à <span style="font-weight: bold;">{{ageMaxi}}</span> ans, pour apprendre {{#instruments}}<span style="font-weight: bold;">{{intitule}}{{/instruments}}
      </font></font></div>
      <div class="mini_spacer"></div>
      <div class="ui button">
      <a href="/signUpLesson/{{id}}"><i class="add icon"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
      Participer au cours
    </font></font></div></a>
    <i class="user circle icon" style="visibility: visible;">{{nbPlaces}}</i>
	<a href="/editCours/{{id}}" class="ui red mini icon button"><i class="edit icon" style="visibility: visible;"></i></a>
	<a href="/delete/{{id}}#delete-message" class="ui red mini icon button"><i class="trash alternate icon" style="visibility: visible;"></i></a>
    </div>
  </div>
</div>

{{/cours}}

<div class="mini_spacer"></div>


{{> /include/footer }}