{{> /include/header }}
{{> /include/header_bar}}

<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="img/logo.png"></div>Emploi du temps</h1>
	    </div>
</div>

<div class="spacer"></div>

<div class="ui calendar" id="inline_calendar">

{{#cours}}

    OK
{{/cours}}
	{{#inscriptions}}
	{{cours}} <br>{{parent}}
	{{/inscriptions}}
</div>


<div class="spacer"></div>


{{> /include/footer }}