{{> /include/header }}
<div id="app" class="ui container">
</div>
  
  
<div class="pusher">
	<div class="ui inverted vertical center aligned segment">
		<div class="ui container">
	    	<div class="ui large secondary inverted pointing menu">
	        	<a class="toc item">
	            	<i class="sidebar icon"></i>
	          	</a>
	          	<a  href="/"class=" item">Accueil</a>
	          	<a  href="/listCours"class=" item">List des cours</a>
	          	<a  href="/instruments"class=" item">List des instruments</a>
	        	<div class="right item">
	          	     {{#userCo}}
	         			<a  href="/logout" class="ui inverted button">Déconnexion</a>
	        		 {{/userCo}}
	        		 {{^userCo}}
	        		 	 <a  href="/login" class="ui inverted button">Connexion</a>
	        		 	 <a href= "/signup" class="ui inverted button">Inscription</a>
	        		 {{/userCo}}
	          </div>
	        </div>
	        
	        {{#showButtons}}
	        <div class="ui inverted menu">
   <div class="item">
  	<a href= "/account/{id}" class="ui inverted button">Mon compte</a>
  </div>
  <div class="item">
    <a href= "/myKids/{id}" class="ui inverted button">Mes Enfants</a>
  </div>
    <div class="item">
    <a href= "/mesCours/{id}" class="ui inverted button">Mes Cours</a>
  </div>
</div>
{{/showButtons}}

	      
	   </div>
	 </div>
</div>
	      
<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="/img/logo.png"></div>Mes Cours</h1>
	    </div>
</div>

<div class="spacer"></div>
<div class="container_cards">	
{{#cours}}
	
	<div class="ui horizontal cards" style="margin-top : 0;">
	  <div class="card">
		<div class="image">
		  <img src="/img/{{instruments.image}}" alt="{{instruments.intitule}}">
		</div>
		<div class="content">
	
		  <div class="header" style="display : flex;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{libelle}}</font></font>
		   <i class="user circle icon" style="visibility: visible; display : flex; margin-left : 3em;"><p style="display : flex;">{{nbPlaces}}</p></i></div>
		   
		  <div class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			Assister au <span style="font-weight: bold;">{{libelle}}</span>, pour apprendre {{#instruments}}<span style="font-weight: bold;">{{intitule}}{{/instruments}}
		  </font></font></div>
		  <div class="mini_spacer"></div>
		  <div class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			Jour : <span style="font-weight: bold;">{{jour}}</span> à <span style="font-weight: bold;">{{heure}} : 00 h</span> d'une durée de <span style="font-weight: bold;">{{duree}} heure</span>
		  </font></font></div>
		  <div class="mini_spacer"></div>
		<div class="mini_spacer"></div>
		<div style="display: flex; align-content: flex-end; flex-direction: row; flex-wrap: nowrap; justify-content: center">
		
	
		</div>
		</div>
	  </div>
	</div>
{{/cours}}
{{^cours}}
<h1>Vous n'êtes inscrit  a aucun cours</h1>
{{/cours}}
	</div>
</div>


<div class="spacer"></div>


{{> /include/footer }}