
 <!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Accueil</a>
  <a class="item">Liste des cours</a>
  <a class="item">Listes des instruments</a>

   	        {{#user}}
	        	{{^connected}}
	        		 <a class="item">Connexion</a>
  					<a class="item">Inscription</a>
				{{/connected}}
				{{#connected}}
					<a  href="/logout" class="ui inverted button">Déconnexion</a>
				{{/connected}}
			{{/user}}
</div>
 
  
  
<div class="pusher">
	<div class="ui inverted vertical center aligned segment">
		<div class="ui container">
	    	<div class="ui large secondary inverted pointing menu">
	        	<a class="toc item">
	            	<i class="sidebar icon"></i>
	          	</a>
	          	<a  href="/"class="active item">Accueil</a>
	          	<a  href="/listCours"class=" item">Liste des cours</a>
	          	<a  href="/instruments"class=" item">Liste des instruments</a>
	        	<div class="right item">
	          	   
	          	     {{^connected}}
	        		 	 <a  href="/login" class="ui inverted button">Connexion</a>
	        		 	 <a href= "/signup" class="ui inverted button">Inscription</a>
	        		 {{/connected}}
	        		 
	        		 {{#user}}
	        		 {{#connected}}
	         			<a  href="/logout" class="ui inverted button">Déconnexion</a>
	        		 {{/connected}}
	        		 {{/user}}
	        		
	          </div>
	        </div>
	   </div>
	 </div>
</div>
	      