
 <!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Accueil</a>
  <a class="item">Liste des cours</a>
  <a class="item">Listes des instruments</a>
   {{^userCo}}
  <a class="item">Connexion</a>
  <a class="item">Inscription</a>
  {{/userCo}}
  {{#userCo}}
  <a  href="/logout" class="ui inverted button">Déconnexion</a>
   {{/userCo}}
</div>
 
  
  
<div class="pusher">
	<div class="ui inverted vertical center aligned segment">
		<div class="ui container">
	    	<div class="ui large secondary inverted pointing menu">
	        	<a class="toc item">
	            	<i class="sidebar icon"></i>
	          	</a>
	          	<a  href="/"class="active item">Accueil</a>
	          	<a  href="/listCours"class=" item">Liste des cours</a>
	          	<a  href="/instruments"class=" item">Liste des instruments</a>
	        	<div class="right item">
	          	     {{#userCo}}
	         			<a  href="/logout" class="ui inverted button">Déconnexion</a>
	        		 {{/userCo}}
	        		 {{^userCo}}
	        		 	 <a  href="/login" class="ui inverted button">Connexion</a>
	        		 	 <a href= "/signup" class="ui inverted button">Inscription</a>
	        		 {{/userCo}}
	          </div>
	        </div>
	   </div>
	 </div>
</div>
	      