<!doctype html>
<html lang="fr">
<head>
    <title>E-Music</title>

    <!-- Meta : -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/icon" sizes="16x16" href="img/icon.png">
    

    <!--Feuilles de style :-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" type="text/css" href="style/header.css">
    <link rel="stylesheet" type="text/css" href="style/icon.css">
    <link rel="stylesheet" type="text/css" href="style/reset.css">
    <link rel="stylesheet" type="text/css" href="style/site.css">
    <link rel="stylesheet" type="text/css" href="style/container.css">
    <link rel="stylesheet" type="text/css" href="style/grid.css">
    <link rel="stylesheet" type="text/css" href="style/image.css">
    <link rel="stylesheet" type="text/css" href="style/menu.css">
    <link rel="stylesheet" type="text/css" href="style/divider.css">
    <link rel="stylesheet" type="text/css" href="style/dropdown.css">
    <link rel="stylesheet" type="text/css" href="style/segment.css">
    <link rel="stylesheet" type="text/css" href="style/button.css">
    <link rel="stylesheet" type="text/css" href="style/list.css">
    <link rel="stylesheet" type="text/css" href="style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="style/transition.css">
    <link rel="stylesheet" type="text/css" href="style/text.css">
    <link rel="stylesheet" type="text/css" href="/style/specifier.css">
    
    
    <script src="assets/library/jquery.min.js"></script>
    <script src="../dist/components/visibility.js"></script>
    <script src="../dist/components/sidebar.js"></script>
    <script src="../dist/components/transition.js"></script>
    
</head>


