/* CSS footer */

.main-container{
	display : flex;
	flex-direction : column;
	min-height : 100vh;
	overflow : hidden;
}

.main {
	display : flex;
}


/* CSS pour la liste des cours  */

.container_cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left : 1.5em;	
}