{{> /include/header }}
{{> /include/menu_account}}

<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="img/logo.png"></div>Enregistrer un moyen de paiement</h1>
	    </div>
</div>

<div  id="d2" class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black">
      <div class="content">
      </div>
    </h2>
    <form class="ui large form" method="post" action="edit">
      <div class="ui stacked segment">
        
        <div class="field">
          <div class="ui left icon input">
            <i class="credit card icon"></i>
            <input type="text" name="NumCarte" placeholder="Numéros de Carte Bleue">
          </div>
        </div>
        
        <div class="mini-spacer"></div>
        <hr class="ui dividing header"></hr>
        
        <div class="two fields">
		    <div class="field">
	        	<div class="ui left icon input">
	           		<i class="calendar alternate outline icon"></i>
	           	 	<input type="text" name="DateExp" placeholder="Date d'expiration de la carte">
	           	 	</div>
	        </div>
	        <div class="field">
		        <div class="ui left icon input">
		           	<i class="copyright icon"></i>
		        	<input type="text" name="Cvv" placeholder="CVV">
	        	</div>
	    	</div>
	    </div>
        <div class="field">
	        	<div class="ui left icon input">
	           		<i class="user icon"></i>
	           	 	<input type="text" name="nom" placeholder="Nom du propriètaire">
	         	</div>
	        </div>
        <div class="mini-spacer"></div>
        <a href="/" class="ui large red button">Annuler</a>
        <button class="ui large red submit button">Ajouter un moyen de paiement</button>
      
      </div>

      <div class="ui error message"></div>

    </form>

  </div>
</div>


{{> /include/footer }}