{{ > /include/header}}
<div id="app" class="ui container">
</div>
  
  
<div class="pusher">
	<div class="ui inverted vertical center aligned segment">
		<div class="ui container">
	    	<div class="ui large secondary inverted pointing menu">
	        	<a class="toc item">
	            	<i class="sidebar icon"></i>
	          	</a>
	          	<a  href="/"class=" item">Accueil</a>
	          	<a  href="/listCours"class=" item">List des cours</a>
	          	<a  href="/instruments"class=" item">List des instruments</a>
	        	<div class="right item">
	          	     {{#userCo}}
	         			<a  href="/logout" class="ui inverted button">Déconnexion</a>
	        		 {{/userCo}}
	        		 {{^userCo}}
	        		 	 <a  href="/login" class="ui inverted button">Connexion</a>
	        		 	 <a href= "/signup" class="ui inverted button">Inscription</a>
	        		 {{/userCo}}
	          </div>
	        </div>
	        
	        {{#showButtons}}
	        <div class="ui inverted menu">
   <div class="item">
  	<a href= "/account/{id}" class="ui inverted button">Mon compte</a>
  </div>
  <div class="item">
    <a href= "/myKids/{id}" class="ui inverted button">Mes Enfants</a>
  </div>
    <div class="item">
    <a href= "/mesCours/{id}" class="ui inverted button">Mes Cours</a>
  </div>
</div>
{{/showButtons}}

	      
	   </div>
	 </div>
</div>

<div class="pusher">
	    <div class="ui inverted vertical center aligned segment">
	        <h1 class="ui inverted header"><div class="ui medium images"><img src="/img/logo.png"></div>Mes enfants enregistrées</h1>
	    </div>
</div>


{{#enfant}}
<div>
<div>
<a href="/myKids/add/{{id}}" class="ui red button">Ajouter un enfant</a>
</div>
<table class="ui celled table">
  <thead>
    <tr><th>Prenom</th>
    <th>Age</th>
    <th></th>
  </tr></thead>
  <tbody>
    <tr>
	{{#enf}}
      <td data-label="Prenom">{{prenom}}</td>
      <td data-label="Age">{{age}}</td>
      <td data-label=""><a href="#" ><i class="edit icon"></i></a>
      					<a href="myKids/delete/{{id}}"><i class="delete square icon"></i></a></td>

    </tr>
     {{/enf}}
    {{/enfant}}
  </tbody>
</table>
</div>

 
 
 {{ >/include/footer}}