{{> /include/header }}
{{> /include/header_bar }}
  
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui container"> 	
</div>
	  
	      <div class="ui text container">
	        <h1 class="ui inverted header">
	          e-Music
	        </h1>
	        <h2>"Le virtuose ne sert pas la musique ; il s'en sert."</h2>
	        {{#userCo}}
	        	<h1>Bienvenue sur votre espace {{Prenom}}</h1>
	        <div class="container-button" style="display: flex;flex-wrap: nowrap; margin: 46px; align-content: center; justify-content: center; flex-direction: column;">
		        <a href ="/account/{{id}}" class="ui red huge primary button"><i class="user tie icon" style="visibility: visible;"></i>Mon compte</a>
		        <a href ="/myKids/{{id}}" class="ui red huge primary button"><i class="child icon" style="visibility: visible;"></i>Mes enfants</a>
		        <a href ="/mesCours/{{id}}" class="ui huge red primary button"><i class="book icon" style="visibility: visible;"></i>Mes cours</a>
	        </div>
	        {{/userCo}}
	      </div>
  		</div>
  		</div>

  
  
  
{{> /include/hero_icon }} 
  
     
{{> /include/footer }}



