{{> /include/header }}

<div id="app" class="ui container">
</div>
  
  
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui container">
	    	<div class="ui large secondary inverted pointing menu">
	        	<a class="toc item">
	            	<i class="sidebar icon"></i>
	          	</a>
	          	<a  href="/"class=" item">Accueil</a>
	          	<a  href="/listCours"class=" item">Liste des cours</a>
	          	<a  href="/instruments"class=" item">Liste des instruments</a>
	        	<div class="right item">
	          	     {{#userCo}}
	         			<a  href="/logout" class="ui inverted button">Déconnexion</a>
	        		 {{/userCo}}
	        		 {{^userCo}}
	        		 	 <a  href="/login" class="ui inverted button">Connexion</a>
	        		 	 <a href= "/signup" class="ui inverted button">Inscription</a>
	        		 {{/userCo}}
	          </div>
</div>
	  
	      <div class="ui text container">
	        <h1 class="ui inverted header">
	          e-Music
	        </h1>
	        <h2>"Le virtuose ne sert pas la musique ; il s'en sert."</h2>
	        {{#userCo}}
	        	<h1>Bienvenue sur votre espace {{Prenom}}</h1>
	        <div class="container-button" style="display: flex;flex-wrap: nowrap; margin: 46px; align-content: center; justify-content: center; flex-direction: column;
												        ">
		        <a href ="/account/{{id}}" class="ui red huge primary button"><i class="user tie icon" style="visibility: visible;"></i>Mon compte</a>
		        <a href ="/myCard/{{id}}" class="ui red huge primary button"><i class="credit card icon" style="visibility: visible;"></i>Mes paiement</a>
		        <a href ="/myKids/{{id}}" class="ui red huge primary button"><i class="child icon" style="visibility: visible;"></i>Mes enfants</a>
		        <a href ="/myLesson" class="ui huge red primary button"><i class="book icon" style="visibility: visible;"></i>Mes cours</a>
	        </div>
	        {{/userCo}}
	      </div>
  		</div>
  		</div>
  		</div>

  
    <div class="ui vertical stripe segment">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Ce qu'on enseigne</h3>
            <!-- Grille des instruments -->
            <div class="ui massive aligned animated list">
                <div class="item">
                  <img class="ui avatar image" src="/img/flute-traversiere.png">
                  <div class="content">
                    <div class="header">Clavier</div>
                  </div>
                </div>
                <div class="item">
                  <img class="ui avatar image" src="/img/guitare-elec.png">
                  <div class="content">
                    <div class="header">Instruments amplifiés</div>
                  </div>
                </div>
                <div class="item">
                  <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
                  <div class="content">
                    <div class="header">Bois</div>
                  </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
                    <div class="content">
                      <div class="header">Cuivres</div>
                    </div>
                  </div>
                  <div class="item">
                    <img class="ui avatar image" src="/img/trompette">
                    <div class="content">
                      <div class="header">Cordes</div>
                    </div>
                  </div>
                  <div class="item">
                    <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
                    <div class="content">
                      <div class="header">Percussions</div>
                    </div>
                  </div>
              </div>
          </div>
        <div class="row">
        <div class="ui middle aligned stackable grid container">
          <div class="center aligned column">
            <a class="ui huge button">Tout voir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
   
{{> /include/footer }}



